[submodule "e3-env"]
	path = e3-env
	url = https://github.com/icshwi/e3-env
	ignore = all
	ignore = all
[submodule "ecat2-ess"]
	path = ecat2-ess
	url = https://github.com/icshwi/ecat2-ess
	ignore = all
